@import "tailwindcss";




html, body {
   margin: 0;
  padding: 0;
    font-family: Arial, Helvetica, sans-serif;

  transition: background-color 450ms ease, color 450ms ease;
}

html {
  scroll-behavior: smooth;
  html {
  background-size: 200% 200%;
  animation: subtle-gradient 30s ease infinite;
}

}

